# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# PyInstaller

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
~$*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
